<nav class="navigation">
    <h1 class="logo"><mat-icon>build</mat-icon></h1>
    <section class="links">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><mat-icon>home</mat-icon></a>
        <a routerLink="/reservations" routerLinkActive="active"><mat-icon>calendar_today</mat-icon></a>
       <a routerLink="/clients" routerLinkActive="active"><mat-icon>supervisor_account</mat-icon></a>
       <a routerLink="/vehicles" routerLinkActive="active"><mat-icon> directions_car</mat-icon></a>
       <a routerLink="/parts" routerLinkActive="active"><mat-icon>storage</mat-icon></a>
    </section>
</nav>