$background-color: #eeeeee;
$active: forestgreen;
$active-background: lightgreen;
$inactive: crimson;
$inactive-background: lightcoral;
$background-hover: rgb(212, 212, 212);

.btn {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
}

.icon-edit {
  color: gold;
}

.btn-reservation {
  height: 40px;
  background-color: white;
  color: $active;
  border: 1px solid $active;
}

.btn-reservation:hover {
  background-color: $active-background;
}

.container {
  margin-top: 2vh;
  max-height: 74vh;
  width: 80%;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;

  .reservation-data {
    padding: 10px 0px;
    padding-left: 3%;
    display: flex;

    .left {
      width: 80%;
      cursor: pointer;
    }

    .right {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .btn {
        width: 60px;
        height: 40px;
      }

      .btn-edit{
        background-color: white;
        border: 1px solid gold;
      }

      .btn-edit:hover {
        background-color: palegoldenrod;
      }

      .btn-delete{
        background-color: white;
        color: $inactive;
        border: 1px solid $inactive;
      }

      .btn-delete:hover {
        background-color: $inactive-background;
      }
    }
  }

  .reservation-data:hover {
    background-color: $background-color;
    border-radius: 10px;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.visible-modal {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visible-delete-modal {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .reservation-data{
    flex-direction: column;
    align-items: center;
  }

  .left * {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    width: calc(90vw - 4vh);
    max-height: 60vh;
  }
}