$primary-color: #007bff;
$primary-light: #a0ceff;
$background-color: #eeeeee;
$active: forestgreen;
$active-background: lightgreen;
$inactive: crimson;
$inactive-background: lightcoral;
$background-hover: rgb(212, 212, 212);

.modal {
  background-color: white;
  height: 80vh;
  width: 30vw;
  min-width: 550px;
  border-radius: 10px;
}

.modal-content {
    padding: 2% % 0% 5%;
    height: 97%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-size: medium;
}

.row {
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
}

.input-row {
    display: flex;
    gap: 30%;
    margin: 0% 5%;
}

select {
    height: 27px;
    padding: 5px 0px 5px 5px;
    width: 150px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}


.invalid {
    color: red;
    font-size: medium;
    position: relative;
    top: -15px;
    margin-left: 10px;
    font-size: smaller;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.btn {
    border: 0px;
    border-radius: 5px;
    padding: .5em;
    font-size: medium;
    cursor: pointer;
}

.btn-secondary {
    background-color: white;
    color: $inactive;
    border: 1px solid $inactive;
}

.btn-secondary:hover{
    background-color: $inactive-background;
    border: 1px solid $inactive;
}

.btn-close {
    width: 30px;
}

input {
    height: 15px;
    padding: 5px 0px 5px 5px;
    width: 150px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.btn-success {
    border: 1px solid $active;
    background-color: white;
    color: $active;
}

.btn-success:hover {
    background-color: $active-background;
    border: 1px solid $active;
}

.modal-footer {
    position: relative;
    top: -40px;
    padding: 0px 20px;
}

@media (max-width: 600px) {
    .modal {
        min-width: 300px;
    }
}